{% extends 'all-awards/base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="jumbotron">
    <div class="col-md-3">
            <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                  </div>
                  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

                  <script>
                  function openNav() {
                      document.getElementById("mySidenav").style.width = "250px";
                  }
                  
                  function closeNav() {
                      document.getElementById("mySidenav").style.width = "0";
                  }
                  </script>
    </div>
    <div class="col-md-6">
        <img src="static/images/Award.png" width="300px" height="50px">
    </div>
    <div class="col-md-3">
            <a class="btn" type='button' href='/accounts/register'>REGISTER/LOGIN</a>
            <input type="button" class="button" value="SUBMIT Button">
            
    </div>
</div>

<div id="behind">
    <img src="static/images/jason.jpg" width="1350px">
</div>

      <div class="pic"> 
      <div class="col-md-4">
            <img src="static/images/double.jpg"  class="image" style="width:200%;max-width:400px;height:200px">
            <div class="middle">
                    <div class="text"><a href="https://natashasenah.github.io/Quotes/">Quote</a></div>
            </div>
          </div>
          </div>
            

    <div class="tic"> 
      <div class="col-md-4"> 
       <img  src="static/images/instagram.jpg"  style="width:200%;max-width:400px;height:200px">
       <div class="middle">
            <div class="text"><a href="https://instagramus.herokuapp.com/">Instagram</a></div>
          </div>
          </div> 
    </div>
          <div class="toc"> 
          <div class="col-md-4">
          <img id="tac" src="static/images/jay.jpg"  style="width:200%;max-width:400px;height:200px">
          <div class="middle">
                <div class="text"><a href="https://personal-gallerys.herokuapp.com/">Gallery</a></div>
              </div>
              
          </div> 
        </div>
              
              

{% endblock %}
